<header id="home" class="header-area pt-5">

    <div class="shape header-shape-one">
        <img src="../assets/images/banner/shape/shape-1 (2).png" alt="shape">
    </div> <!-- header shape one -->
  
    <div class="shape header-shape-tow animation-one">
        <img src="../assets/images/banner/shape/shape21.png" alt="shape">
    </div> <!-- header shape tow -->
  
    <div class="shape header-shape-three animation-one">
        <img src="../assets/images/banner/shape/shape3.png" alt="shape">
    </div> <!-- header shape three -->
  
    <div class="shape header-shape-fore">
        <img src="../assets/images/banner/shape/shape4.png" alt="shape">
    </div> <!-- header shape three -->

  <div class="header-banner d-flex align-items-center">
      <div class="container">
          <div class="row">
              <div class="col-xl-8 col-lg-9 col-sm-10">
                  <div class="banner-content">
                      <h4 class="sub-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">Your trusted</h4>
                      <h1 class="banner-title mt-10 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s"><span>Cloud Based</span> Storage and Sharing Application for Evidence and Case Files</h1>
                      <a class="banner-contact mt-25 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s" href="#contact">Get a Free Trial</a>
                  </div> <!-- banner content -->
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
      <div class="banner-image bg_cover" style="background-image: url(../assets/images/banner/banner-image.png)"></div>
  </div> <!-- header banner -->

</header>

<!--====== HEADER PART ENDS ======-->

<!--====== ABOUT PART START ======-->

<section id="about" class="about-area pt-80 pb-130">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="about-image mt-50 clearfix">
                  <div class="single-image float-left">
                      <img src="../assets/images/about/about-1.png" alt="About">
                  </div> <!-- single image -->
                  <div class="single-image image-tow float-right">
                      <img style="border:10px solid #00cc99;" src="../assets/images/about/about-2.png" alt="About">
                  </div> <!-- single image -->
              </div> <!-- about image -->
          </div>
          <div class="col-lg-6">
              <div class="about-content mt-45">
                  <h4 class="about-welcome">About Us </h4>
                  <h3 class="about-title mt-10">Reasons to choose</h3>
                  <p class="mt-25">Welcome to InnoView, the forefront of digital evidence management. Comprising a dedicated team with three highly dedicated developers, we have crafted a cutting-edge platform to redefine how individuals and organizations store and share digital evidence securely. Our mission is clear: empower users with a seamless, user-friendly experience, ensuring trust and integrity in every piece of information. With advanced encryption, secure cloud storage, and an intuitive interface, InnoView stands as a beacon of reliability in the ever-evolving landscape of digital evidence management.
                      <br> <br>At the University of Florida, we envision a future where digital evidence is effortlessly accessible and collaboratively managed. Our commitment to continuous innovation means you can trust us to stay ahead of the curve, providing top-tier security and support. Join us on this journey toward transparency and accountability, and experience the ease of digital evidence management with InnoView. Whether you're an investigator, legal professional, or business owner, let InnoView be your trusted partner in building a more secure and transparent future.</p>
                  <a class="main-btn mt-25" routerLink="/about">learn more</a>
              </div> <!-- about content -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->

<!--====== SERVICES PART START ======-->

<section id="service" class="services-area pt-125 pb-130 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-20">
                    <h5 class="sub-title mb-15">Our Services</h5>
                    <h2 class="title">Why Choose InnoView?</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                    <div class="services-icon">
                        <i class="lni lni-cloud-check"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Secure Cloud Storage</h4>
                        <p class="mt-20">Utilize our state-of-the-art cloud infrastructure to securely store and protect your digital evidence, ensuring its integrity and availability whenever you need it.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <i class="lni lni-handshake"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Effortless Sharing</h4>
                        <p class="mt-20">Collaborate seamlessly with authorized users, enabling efficient sharing and collaboration on cases, projects, or legal matters.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                    <div class="services-icon">
                        <i class="lni lni-display-alt"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">User-Friendly Interface</h4>
                        <p class="mt-20">Our intuitive interface makes navigating the platform a breeze, allowing you to focus on your work without unnecessary complications.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
                    <div class="services-icon">
                        <i class="lni lni-protection"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Trusted Security</h4>
                        <p class="mt-20">We prioritize the security of your digital evidence, employing industry-leading measures to safeguard your information.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <i class="lni lni-support"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Reliable Support</h4>
                        <p class="mt-20">Our dedicated support team is available 24/7 to assist you with any queries or concerns, ensuring a smooth and uninterrupted experience.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                    <div class="services-icon">
                        <i class="lni lni-invention"></i>
                    </div>
                    <div class="services-content mt-15">
                        <h4 class="services-title">Continuous Innovation</h4>
                        <p class="mt-20">We are committed to staying ahead of the curve, consistently updating our platform with the latest features and improvements.</p>
                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== SERVICES PART ENDS ======-->

