<br>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <span class="text-white">Hello, {{loggedUser?.name}} </span> 
        <button class="btn btn-primary" type="button" (click)="onLogoff()">Log Off</button>
      </form>
    </div>
  </nav>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
  <app-file-system-manager></app-file-system-manager>
  <router-outlet></router-outlet>
  <!--
  <app-file-upload></app-file-upload>-->